<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Breeds</title></head>
<body>
<h1>Breeds</h1>
<a th:href="@{/}">На главную</a> | <a th:href="@{/breeds/create}">Добавить Breed</a>
<table border="1">
    <tr><th>ID</th><th>Name</th><th>Description</th></tr>
    <tr th:each="breed : ${breeds}">
        <td th:text="${breed.id}"></td>
        <td th:text="${breed.name}"></td>
        <td th:text="${breed.description}"></td>
    </tr>
</table>
</body>
</html>
